
body        {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #000000;
    background-color: #dcd4be82;
}

header      {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 90%;
    font-size: 86px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 75px;
    margin-bottom: 15px;
    margin-top: 20px;

}

p           {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    color:black;
}

head        {
    text-align: center;
    position: relative;
}

.subhead    {
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;

}

.content    {
    font-size: 0;
    line-height: 0;
    word-spacing: 1.3em;
    display: inline-block;
    margin: 30px 2% 0 2%;
}

.collumn    {
    font-size: 18px;
    line-height: 22px;
    width: 17%;
    display: inline-block;
    padding: 1% 1% 0 1%;
    vertical-align: top;
    margin-bottom: 20px;
    border-left: 3px;
    column-count: 2;
    column-width: 80px;
    border: 5px;
    border-style:hidden;
}

/*Se desajusta la primera noticia respecto al resto, qué falla?*/

.collumn .headline      {
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: auto;
    font-size: 30px;
    border: 2px;
}

.collumn .headline.hl1, {
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
    font-style: italic;
    border: 5px;
    display: flexbox;
}

.headline.hl4 {
    margin-top: 1px;
    margin-bottom: 1px;
    color:rgb(38, 5, 5);
    font-size: 14px;
    font-weight: bold;
}

.collumn .figure    {
	  margin: 0 0 20px;
}

.collumn .figcaption    {
	font-style: italic;
	font-size: 14px;
}
.media {
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    width: 100%;
}

article {
    orientation: landscape;
}